<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-10.5.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>     
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="global" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="logFile" type="Microsoft.SqlServer.Diagnostics.STrace.LogFileTraceListener, 
            Microsoft.SqlServer.Diagnostics.STrace, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
            logPath="%TEMP%\Tracing\" encrypt="false" >
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="Verbose" />
    </switches>

    <trace autoflush="false" indentsize="2" useGlobalLock="false"></trace>
  </system.diagnostics>
</configuration>

