<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AzureConnectionString" value="defaultEndpointsProtocol=http;AccountName=yourstorageaccount;AccountKey=your_token"/>
    <add key="PrefixForBlobs" value="yourPrefixes_seperated_by_a_comma"/>
    <add key="Retries" value="10"/>
    <add key="TimeoutInMinutes" value="30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

