<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AzureConnectionString" value="defaultEndpointsProtocol=http;AccountName=yourstorageaccount;AccountKey=your_token"/>
    <add key="PrefixForBlobs" value="yourPrefix"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
