<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="YOUR_AZURE_DB" connectionString="Server=tcp:yourazuredbserver.database.windows.net,1433;Database=azuredb;User ID=sqlsa@yourazuredbserver;Password=password;Trusted_Connection=False;Encrypt=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LoggingEmail" value="someemail@yourserver.com" />
    <add key="AzureConnectionString" value="defaultEndpointsProtocol=http;AccountName=yourstorageaccount;AccountKey=your_token"/>
    <add key="BlobName" value="your_blob_Name"/>
    <add key="NumberOfDaysToPersistBackups" value="7"/>
    <add key="TimesToRetry" value="3"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="your_email@your_host.com" >
        <network host="your_smtp_host"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
